{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
     "parserOptions": {
         "parser": "babel-eslint"
     },
    "extends": [
        "airbnb-base",
        "plugin:vue/recommended"
    ],
    "rules": {
        "no-plusplus": "off",
        "indent": ["error", 2, {"SwitchCase": 2}],
        "import/prefer-default-export": "off",
        "camelcase": 0
    }
}