// Import theme
@import "theme";

// Override bootstrap theme
$theme-colors: map-get($theme, colors);

// Font
$theme-font: map-get($theme, font);
$font-family: "Lato", sans-serif;
$font-color: map-get($theme-font, color);

// General appearance
$primary-dark: darken(map-get($theme-colors, primary), 10%);
$box-shadow-color: rgba(0,0,0,0.65);
$split-pane-splitter-color: #f0f0f0;
$split-pane-splitter-thickness: 10px;

// UI variables (Loading)
$loading-overlay-bg-color: rgba(map-get($theme-colors, secondary), 0.05);

// UI variables (Content)
$theme-content: map-get($theme, content);
$app-content-padding: map-get($theme-content, padding);

// UI variables (Top Nav)
$top-nav: map-get($theme, topNav);
$top-nav-height: map-get($top-nav, height);
$top-nav-bg-color: map-get($top-nav, backgroundColor);
$top-nav-font: map-get($top-nav, font);
$top-nav-font-color: map-get($top-nav-font, color);
$top-nav-active-font-color: map-get($top-nav-font, activeColor);

// UI variables (Side Nav)
$side-nav: map-get($theme, sideNav);
$side-nav-width: map-get($side-nav, width);
$side-nav-bg-color: darken($top-nav-font-color, 10%);
$side-nav-hover-bg-color: darken($side-nav-bg-color, 8%);
$side-nav-transition: map-get($side-nav, transition);
$side-nav-transition-duration: map-get($side-nav-transition, duration);
$side-nav-transition-function: map-get($side-nav-transition, method);
$side-nav-font: map-get($side-nav, font);
$side-nav-font-color: map-get($side-nav-font, color);
$side-nav-font-size: map-get($side-nav-font, size);
