// Customize bootstrap (defaults included)
$theme-colors: (
  "primary": #007bff,
  "secondary": #6c757d,
  "success": #28a745,
  "danger": #dc3545,
  "warning": #ffc107,
  "info": #17a2b8
);

// Appearance
$font-family: "Lato", sans-serif;
$primary-dark: darken(map-get($theme-colors, primary), 10%);
$font-color: #5e5e5e;
$box-shadow-color: rgba(0,0,0,0.65);

// UI variables (Content)
$app-content-padding: 25px;

// UI variables (Top Nav)
$top-nav-height: 58px;
$top-nav-bg-color: #fcfcfc;
$top-nav-font-color: #607d8b;
$top-nav-active-font-color: #ff8a65;

// UI variables (Side Nav)
$side-nav-width: 250px;
$side-nav-bg-color: darken($top-nav-font-color, 10%);
$side-nav-hover-bg-color: darken($side-nav-bg-color, 8%);
$side-nav-transition-duration: 0.5s;
$side-nav-transition-function: ease-in-out;
$side-nav-font-color: #ffffff;
$side-nav-font-size: 15px;
