// Customize bootstrap (defaults included)
$theme-colors: (
  "primary": #007bff,
  "secondary": #6c757d,
  "success": #28a745,
  "danger": #dc3545,
  "warning": #ffc107,
  "info": #17a2b8
);

// Appearance
$font-family: "Lato", sans-serif;
$primary-dark: darken(map-get($theme-colors, primary), 10%);

// UI variables
$top-nav-height: 56px;
$side-nav-width-expanded: 250px;
$side-nav-width-collapsed: 50px;
$side-nav-font-color: #ffffff;
$side-nav-font-size: 15px;
$font-color: #5e5e5e;
