@import "imports";

.application {
  height: 100%;
  font-family: $font-family;
  color: $font-color;

  .dropdown-menu.bg-primary {
    .dropdown-item {
      &:hover, &:focus {
        background-color: $primary-dark;
      }
    }
  }

  a {
    color: map-get($theme-colors, info);

    &:hover {
      text-decoration: none;
      color: darken(map-get($theme-colors, info), 10%);
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }
}
